[paths]
source = src

[run]
branch = true
source =
    src
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
    # Not part of the normal flow.
    src/memwiper/utils/_coretest.py
