graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .editorconfig
include .flake8
include codecov.yml
include pytest.ini
include pyproject.toml
include readthedocs.yml


include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include TODO.rst
include requirements.txt
include requirements-dev.txt

include tox.ini .travis.yml

prune __pycache__
prune .ropeproject
prune */.ropeproject

global-exclude *.py[cod] *.bkp *.so *.dylib *valgrind*
