graft docs
graft src
graft ci
graft tests

include AUTHORS.rst
include .bumpversion.cfg
include CHANGELOG.rst
include codecov.yml
include CONTRIBUTING.rst
include .cookiecutterrc
include .editorconfig
include .flake8
include flake8.ini
include LICENSE
include pytest.ini
include pyproject.toml
include README.rst
include readthedocs.yml
include requirements.txt
include requirements-dev.txt
include TODO.rst
include tox.ini
include .travis.yml


prune __pycache__
prune .ropeproject
prune */.ropeproject

global-exclude *.py[cod] *.bkp *.so *.dylib *valgrind*
