graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .isort.cfg
include .readthedocs.yml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

include tox.ini .travis.yml appveyor.yml

prune __pycache__ 
prune .ropeproject
prune */.ropeproject

global-exclude *.py[cod] *.bkp *.so *.dylib
